@import 'variables';
@import 'mixin';

.feature-container {
    display: flex;
    justify-content: center;
    margin: 20px;

    .feature-section {
        text-align: center;
        width: 100%;
        max-width: 600px;
        border-bottom: 1px solid $grayish-blue;
        position: relative;
        margin: 10px;

        h1 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }

        .feature-links {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .feature-link {
                text-decoration: none;
                margin: 10px 0;
                color: $very-dark-blue;
                font-size: 18px;
                position: relative;

                &:hover {
                    color: $soft-red;
                }

                &:focus {
                    outline: none;
                }

                &:focus::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -11px;
                    width: 100%;
                    height: 3px;
                    background-color: $soft-red;
                    z-index: 1;
                }
            }
        }
    }
}

.feature-details {
    @include center;
    overflow: hidden;
    margin: 20px;


    .image-container {
        margin: 20px;
        width: 100%;

        img {
            margin: 10px;
            width: 100%;
            max-width: 500px;

        }
    }

    .content-details {
        margin: 20px;
        max-width: 500px;
        width: 100%;

        h1 {

            margin-bottom: 20px;
        }

        p {
            margin-bottom: 20px;
        }
    }


}

@media (max-width: 568px) {
    .feature-details {
        flex-direction: column;
        margin: 10px;
        gap: 10px;

        .content-details {
            text-align: center;
            padding: 10px;
        }

        .image-container {


            img {
                max-width: 400px;
                padding: 10px;
            }


        }
    }

}


@media (max-width: 568px) {
    .feature-container {
        .feature-section {
            border-bottom: 0px solid $grayish-blue;

            p {
                margin-bottom: 0px;
                padding-bottom: 10px;
                border-bottom: 1px solid $grayish-blue;
            }

            .feature-links {
                flex-direction: column;
                align-items: center;

                .feature-link {
                    margin-bottom: 0;
                    border-bottom: 1px solid $grayish-blue;
                    padding-bottom: 10px;
                    width: 100%;

                    &:focus::after {
                        content: '';

                        position: absolute;
                        left: 0;
                        bottom: -3px;
                        width: 100%;
                        height: 3px;
                        background-color: $soft-red;
                        z-index: 1;
                    }
                }
            }
        }
    }
}